* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#container {
    width: 80%;
    max-width: 800px;
    background-color: #1f1f1f;
    border-radius: 8px;
    height: 400px;
    color: white;
    padding: 8px;
    overflow: scroll;
}

.message {
    font-family: monospace;
    font-size: 12px;
}

.message:last-child::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 12px;
    position: relative;
    top: 2px;
    left: 2px;
    background-color: white;
    animation: blink .1s ease-in-out infinite;
}

.name {
    color: greenyellow;
}

.at {
    color: orangered;
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}