* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

a {
  color: white;
}

#container {
  width: 95%;
  max-width: 800px;
  background-color: #1f1f1f;
  border-radius: 8px;
  min-height: 50vh;
  color: white;
  padding: 8px;
}

.message {
  font-family: monospace;
  line-height: 1.5;
}

.message:last-child::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  position: relative;
  top: 2px;
  left: 2px;
  background-color: white;
  animation: blink 0.1s ease-in-out infinite;
}

.name {
  color: greenyellow;
}

.at {
  color: orangered;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
